{% extends 'base/main.html' %}
{% block content %}
<div class="header-bar">
  <h1>Register</h1>
</div>
<div class="card-body" style="display: flex; flex-direction: column; gap:2rem">
  <form method="POST">
    {% csrf_token %}
    <label>{{form.username.label}}</label>
    {{form.username}}
    <br>
    <label>{{form.password1.label}}</label>
    {{form.password1}}
    <br>
    <label>{{form.password2.label}}</label>
    {{form.password2}}
    <br>
    <br>
    <input class="button" type="submit" value="Register">
  </form>
  <p>Already have an account <a href="{% url 'login' %}" style="margin-left:4px;color:#EB796F ;"><b>Login</b></a></p>
</div>
{% endblock %}